<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bogotrash">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BogoTrash">
        <!-- WelcomeActivity como actividad inicial -->
        <activity
            android:name=".view.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Otras actividades -->
        <activity android:name=".view.MainActivity" android:exported="false" />
        <activity android:name=".view.RegisterActivity" android:exported="false" />
        <activity android:name=".view.LoginActivity" android:exported="false" />
        <activity android:name=".view.MapActivity" android:exported="false" />
        <activity android:name=".view.WasteGuideActivity" android:exported="false" />
        <activity android:name=".view.RecyclerConnectionActivity" android:exported="false" />
        <activity android:name=".view.RewardsActivity" android:exported="false" />
        <activity android:name=".view.LearnMoreActivity" android:exported="false" />
        <activity android:name=".view.CampaignActivity" android:exported="false" />
        <activity android:name=".view.ProfileActivity" android:exported="false" />
        <activity android:name=".view.WebViewActivity" android:exported="false" />
        <activity android:name=".view.SendSmsActivity" /> <!-- Pa lo de los sms -->
        <activity android:name=".view.RankingActivity" />
    </application>

</manifest>